.navbar {
  background-color: #ffffff;  /* Set the background to white */
  color: #001f3f;  
  padding: 1rem 5rem;  
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.navbar-link {
  color: #001f3f;
  text-decoration: none;
  transition: all 0.3s ease;
  margin: 0 1rem;
}

.navbar-link:hover {
  color: #bada55; 
}
