.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f3f4f6;
  color: #111827;
}


.footer-logo-section, .footer-links-section, .footer-social-section {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.footer-logo-section {
  align-items: center; 
}

.footer-links-section, .footer-social-section {
  align-items: flex-start; 
  padding-left: 0rem; 
}

.footer-social-section {
  padding-right: 8rem; 
}

.footer-logo {
  height: 8rem;
}

.footer-subtitle {
  font-weight: bold;
  margin-bottom: 0.5rem; 
}

.footer-link {
  color: #111827;
  margin: 0.5rem 0; /* Adjust vertical margin between links */
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 0.8rem;  /* Reduced font size for the links */
}

.footer-link:hover {
  color: #bada55;
}
