/* Movies.css */

.movies-container {
    max-width: 1200px;
    margin: 0 auto;
}

.day, .cinema {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.day:hover, .cinema:hover {
    cursor: pointer;
    background-color: #b5b5b5;
}

.movie {
    transition: box-shadow 0.3s;
}

.movie:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.movie-image {
    max-width: 100%;
    border-radius: 5px;
}

.movie-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.time {
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.time:hover {
    cursor: pointer;
    background-color: #2c5282;
}
