/* Footer.css */
.footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #f3f4f6;
    color: #111827;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  